.gppeditornote{
  background: rgba(100,149,237,.2) !important;
}
.gppeditorwarning{
  background: rgba(255,255,153,.2) !important;
}
.gppeditorerror{
  background: rgba(220,20,60,.2) !important;
}
.gppbottompanel{
  white-space: pre;
  min-height: 50px;
}
.gppbottompanelcontent{
  overflow-y: scroll;
}
.gppbottompanelcontent *{
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-width: 3px;
}

.gppnote{
  color: white;
  background: rgba(100,149,237,.4) !important;
}
.gppwarning{
  color: white;
  background: rgba(255,255,153,.2) !important;
}
.gpperror{
  color: white;
  background: rgba(220,20,60,.4) !important;
}
.gppnote.active{
  background: rgba(100,149,237,.8) !important;
}
.gppwarning.active{
  color: white;
  background: rgba(255,255,153,.4) !important;
}
.gpperror.active{
  color: white;
  background: rgba(220,20,60,.8) !important;
}
