.gppeditornote{
  background: rgba(100,149,237,.2) !important;
}
.gppeditorwarning{
  background: rgba(255,255,153,.2) !important;
}
.gppeditorerror{
  background: rgba(220,20,60,.2) !important;
}
.gpppanel{
  white-space: pre;
  min-height: 50px;
}
.gpppanel .content{
  overflow-y: scroll;
}
.gpppanel .content *{
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-width: 3px;
}
.gpppanel.Bottom{
  cursor: ns-resize;
}
.gpppanel.Bottom .content{
  margin-top: 30px;
}
.gpppanel.Top{
  cursor: ns-resize;
 }
.gpppanel.Left{
  cursor: ew-resize;
}
.gpppanel.Right{
  cursor: ew-resize;
}
.gpppanel.Right .content{
  margin-left: 30px;
}
.gpppanel .content{
    cursor: default;
}
.gppnote{
  color: white;
  background: rgb(60,81,121) !important;
}
.gppwarning{
  color: white;
  background: rgb(77,81,65) !important;
}
.gpperror{
  color: white;
  background: rgb(108,30,50) !important;
}
.gppnote.active{
  background: rgb(87,126,198) !important;
}
.gppwarning.active{
  color: white;
  background: rgb(122,124,87) !important;
}
.gpperror.active{
  color: white;
  background: rgb(183,23,57) !important;
}
